@import "./button.scss";

*{
    margin:0;
    font-family:'Noto Serif JP', serif;
    font-weight:200;
}

ul{
    list-style: none;
}

header{
    position:relative;
    background-image:url("./image.jpg");
    width:100%;
    height:700px;
    background-position: bottom 10% center ;
    background-repeat: no-repeat;
    color:rgb(233, 231, 231);
    #top{
        background-color:rgb(73, 163, 236);
        position:fixed;
        width:100%;
        padding:20px;
        z-index:10;
        .menu{
            ul{
                width:100%;
                position:absolute;
                top:50%;
                left:45%;
                text-align: right;
                transform:translate(-50%,-50%);
                vertical-align: center;
                li{
                    margin-right:40px;
                    display:inline;
                    color:rgb(233, 231, 231);
                }
                a{
                    text-decoration: none;
                }
            }
        } 
    }
    
    .kotoba{
        position:absolute;
        top:30%;
        left:10%;
        font-size:28px;
        text-shadow: 1px 2px 3px #303030;
    }
}

.news{
    text-align: center;
    h1{
        margin:20px 0;
    }
    ul{
        display:inline-block;
        text-align:left;
    }
}
.place{
    .image{
        img{
            width:100%;
            height:400px;
            margin-bottom:-5px;
        }
    }
    .text{
        text-align:center;
        background-color:rgb(209, 229, 210);
    }
}
.subtitle{
    text-align:center;
    margin:40px 0 20px 0;
}
.wisky-menus{
    display:table;
    width:100%;
    height:400px;
    .ele{
        display:table-cell;
        width:50%;
        margin-bottom:-10px;
        border-top: 1px solid rgb(2, 97, 9);
       
        img{
            width:100%;
            height:400px;
            margin-bottom:-5px;
        }
    }
    .bbbbb{
        position:relative;
        text-align:center;
        vertical-align: top;
        color:white;
        h2{
            position:absolute;
            top:5%;
            left:50%;
            transform:translate(-50%,0%);
        }
        span{
            position:absolute;
            top:30%;
            left:50%;
            transform:translate(-50%,0%);
            font-weight:bold;
        }
    }
}
.mv{
    width:80%;
    margin:0 auto;
    .movie{
        text-align:center;
        width:100%;
        height:400px;
        display:inline-block;
    }
}
    

